/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    position: relative;
}

body {
    background-color: grey;
    background: radial-gradient(circle closest-side at 50% 50%, #000, #000);
    transition: background 0.1s;
}

#content {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    font-family: Helvetica;
    font-size: 12px;
}

.slider {
    position: sticky;
    -webkit-appearance: none;
    width: 1980px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .1s;
    transition: opacity .1s;
    margin-top: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0e6eef;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0e6eef;
    cursor: pointer;
}

.bar {
    fill: steelblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    margin-top: 10px;
}

.axis--x path {
    display: none;
    margin-top: 10px;
}

/* Style the dropdown button */

.dropdown {
    margin-top: 5px; /* adjust the value as needed */
}

.dropbtn {
    background-color: #0e6eef;
    color: white;
    padding: 7px 103px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #29d8e8;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 90px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #1a5f7e;
}

/* Add button to select dataset file */
.file-upload-btn {
    background-color: #0e6eef;
    border: none;
    color: white;
    padding: 7px 42px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.1ms;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.file-upload-btn:hover {
    background-color: #1a5f7e;
}

.file-upload-btn input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Save diagram as PNG button */
.save-as-png-btn {
    background-color: #0e6eef;
    border: none;
    color: white;
    padding: 7px 29px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.1ms;
    margin-top: 5px;
}

.save-as-png-btn:hover {
    background-color: #1a5f7e;
}

/* Change bar-chart colour */
.colour-toggle {
    background-color: #0e6eef;
    border: none;
    color: white;
    padding: 7px 35px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.1ms;
    margin-top: 5px;
}

.colour-toggle:hover {
    background-color: #1a5f7e;
}

/* Toggle gradient type */
.gradient-toggle {
    background-color: #0e6eef;
    border: none;
    color: white;
    padding: 7px 23px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.1ms;
    margin-top: 5px;
}

.gradient-toggle:hover {
    background-color: #1a5f7e;
}
