/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    position: relative;
}

body {
    background-color: grey;
    background: radial-gradient(circle closest-side at 50% 50%, #000, #000);
    transition: background 0.1s;
}

#content {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;

}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    font-family: "Verdana";
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider {
    position: sticky;
    -webkit-appearance: none;
    width: 534px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .1s;
    transition: opacity .1s;
    margin-top: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0e6eef;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0e6eef;
    cursor: pointer;
}



/* Grid lines */
.grid line {
    stroke: #ccc;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

/* Axis */
.axis path,
.axis line {
    fill: none;
    stroke: #ffffff;
    shape-rendering: crispEdges;
    margin-top: 10px;
}

.axis--x path {
    display: none;
    margin-top: 10px;
}

/* Style the dropdown button */

.dropdown {
    margin-top: 5px; /* adjust the value as needed */
}

.dropbtn {
    background-color: #0e6eef;
    color: white;
    padding: 7px 223px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #29d8e8;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 210px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #1a5f7e;
}

/* Add button to select dataset file */
.file-upload-btn {
    background-color: #0e6eef;
    border: none;
    color: white;
    padding: 7px 80px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.1ms;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.file-upload-btn:hover {
    background-color: #1a5f7e;
}

.file-upload-btn input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Save diagram as PNG button */
.save-as-png-btn {
    background-color: #0e6eef;
    border: none;
    color: white;
    padding: 7px 93px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.1ms;
    margin-top: 5px;
}

.save-as-png-btn:hover {
    background-color: #1a5f7e;
}

/* Change bar-chart colour */
.colour-toggle {
    background-color: #0e6eef;
    border: none;
    color: white;
    padding: 7px 93px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.1ms;
    margin-top: 5px;
}

.colour-toggle:hover {
    background-color: #1a5f7e;
}

/* Toggle gradient type */
.gradient-toggle {
    background-color: #0e6eef;
    border: none;
    color: white;
    padding: 7px 85px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.1ms;
    margin-top: 5px;
}

.gradient-toggle:hover {
    background-color: #1a5f7e;
}

/* Sliders + dropdown menu positioning */
.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sliders-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #333;
    pointer-events: none;
}

/* Alignment Dropdown Menu */
#alignment-dropdown {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 150px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: inherit;
    color: #ffffff;
    background-color: #0e6eef;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#alignment-dropdown:focus {
    border-color: #4CAF50;
}

/* Hide the default checkbox */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    right: -40px;
    top:4px;
    height: 25px;
    width: 25px;
    border-radius: 1px;
    outline: none;
    border: none;
    background: #fff;
    box-shadow: 0 0 0 2px #ddd;
    transition: background 0.2s, box-shadow 0.2s;
}

/* Style the checked state */
input[type="checkbox"]:checked {
    background: #0e6eef;
    box-shadow: 0 0 0 2px #ddd;
}
